<h1>Detail Contact</h1>
<% if (contact) { %>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= contact.nama %></h5>
        <p class="card-text"><%= contact.email %></p>
	<% if (contact.nomor) { %>
          <p class="card-text"><%= contact.nomor %></p>
	<% } %>
        <a href="/contact/delete/<%= contact.id %>" class="btn btn-danger badge rounded-pill" onClick="return confirm('Yakin?');">Hapus</a>
        <a href="/contact/update/<%= contact.id %>" class="btn btn-warning badge rounded-pill">Update</a>
        <a href="/contact" class="btn btn-primary d-block mt-3">&laquo kembali ke daftar kontak</a>
      </div>
    </div>
  </div>
</div>
<% } else { %>
  <div class="alert alert-danger fw-bold" role="alert">
    Data tidak ada! <br> <a href="/contact" class="fw-bold alert-link">Kembali ke daftar kontak</a>
  </div>
<% } %>
